@font-face {
    src: url("../font/shlop\ rg.ttf") format("truetype");
    font-family: "Shlop";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header{
    margin:3%;
    width: 100%;
    max-width: 1000px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchContainer{
    padding: .5em;
    border-radius: 1em;
    border: .3em solid #00040D;
    align-self: center;
    width: 60%;
}
.containerPrincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../img/background.jpg)no-repeat fixed center;
    background-size: cover;
}
section {
    border:.5em solid #00040D;
    max-width: 345px;
    background-color: #FAFD7CFF;
    margin: 1em;
    border-radius: 1em;
}
article {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    justify-content: center;
}
h1, h2, h3{
    font-family: "Shlop";
    letter-spacing: .1em;
}
h1, h2, h3, p {
    color: #00040D;
}
h1 {
    border:.3em #00040D solid;
    border-radius: 1em;
    text-align: center;
    margin: auto;
    padding: 0.5em 0;
    background-color: #FAFD7CFF;
    width: 90%;
}
h2{
    font-size: 22px;
    font-weight: bold;
    margin:.5em 0;
    font-weight: bold;
    letter-spacing: .3em;
    text-align: center;
    padding: 0 .1em;
}
h2, picture {
    display:flex;
    justify-content: center;

}
.containerStatus {
    height: 0;
}
.characterStatus {
    border: .2em solid#FAFD7CFF;
    width:5em;
    text-align: center;
    z-index: 2;
    position: relative;
    left: 15em;
    bottom:2em;
    font-weight: 800; 
    margin:0;
    padding:0;
    background-color: #B7E4F9FF;   
}
.firstSectionCard {
    display: flex;
    flex-direction: column;
}
.containerDescription {
    background-color: #526E2DFF;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    display: flex;
    flex-direction: column;
}
.cardDescription {
    letter-spacing: .1em;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    min-height: 1.5em;
}
p {
    font-size: 16px;
    background: #B7E4F9FF;
    border-radius: .5em;
    color:#00040D;
    margin: .3em;
    border: .2em solid #00040D;
}   
img {
    width: 100%;
    z-index: 1;
    border: .65em solid #00040D;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}


