@font-face {
    src: url("../font/shlop\ rg.ttf") format("truetype");
    font-family: "Shlop";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchContainer{
    padding: .5em;
    border-radius: 1em;
    border: .3em solid #00040D;
}
.containerPrincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../img/background.jpg)no-repeat fixed center;
    background-size: cover;
}
section {
    border:.5em solid #00040D;
    max-width: 345px;
    background-color: #FAFD7CFF;
    margin: 1em;
    border-radius: 1em;
}
article {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    justify-content: center;
}
h1, h2, h3{
    font-family: "Shlop";
    letter-spacing: .1em;
}
h1, h2, h3, p/*, li*/ {
    color: #00040D;
}
h1 {
    border:.3em #00040D solid;
    border-radius: 1em;
    text-align: center;
    margin: auto;
    width: 18em;
    padding: 0.5em 0;
    background-color: #FAFD7CFF;
}
h2{
    font-size: 22px;
    font-weight: bold;
    margin:.5em 0;
    font-weight: bold;
    letter-spacing: .3em;
    text-align: center;
}
h2, picture {
    display:flex;
    justify-content: center;

}
.containerStatus {
    height: 0;
}
.characterStatus {
    border: .2em solid#FAFD7CFF;
    width:5em;
    text-align: center;
    z-index: 2;
    position: relative;
    left: 15em;
    bottom:2em;
    font-weight: 800; 
    margin:0;
    padding:0;
    background-color: #B7E4F9FF;   
}
.firstSectionCard {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.containerDescription {
    background-color: #526E2DFF;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    display: flex;
    flex-direction: column;
    /*have the 100% heith*/
}
/*

h3 {
    font-size: 18px;
    margin: .5em;
}*/
.cardDescription {
    letter-spacing: .1em;
    font-family: sans-serif;
    font-weight: 600;
}
p/*, li*/ {
    font-size: 16px;
    background: #B7E4F9FF;
    border-radius: .3em;
    padding: 0 .3em 0.3em;
    color:#00040D;
    margin: .3em 0;
}   
img {
    z-index: 1;
    border: .65em solid #00040D;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
/*ul {
    list-style-type: disclosure-closed;
    padding: 0 .5em .5em 1em;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
li {
    margin-bottom: .1em;
    overflow: hidden;
}*/


